name: odes
services:
  api:
    build:
      context: ../../..
      dockerfile: app/services/api/Dockerfile
    ports:
      - "8080:8080"
    env_file:
      - ../../.env

  worker:
    build:
      context: ../../..
      dockerfile: app/services/worker/Dockerfile
    ports:
      - "8081:8081"
    env_file:
      - ../../.env
    depends_on:
      - rabbitmq

  rabbitmq:
    image: rabbitmq:4.1.5-management-alpine
    ports:
      - "5672:5672"
      - "15672:15672"

  flower:
    image: mher/flower
    ports:
      - "5555:5555"
    env_file:
      - ../../.env
    depends_on:
      - rabbitmq